/* Reset some default styles for better consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background: transparent; /* Transparent background */
    color: #000; /* Black font color */
}

header {
    background-color: black;
    color: #9900cc; /* White-purple */
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    background-color: black;
    overflow: hidden;
}

nav ul li {
    float: left;
    margin-right: 20px; /* Increased spacing between navigation items */
}

nav ul li a {
    display: block;
    color: #9900cc;
    text-align: center;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 40px auto; /* Increased spacing between sections */
    padding: 20px;
    background: transparent; /* Transparent background */
    color: #000; /* Black font color */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 20px; /* Increased footer padding */
    background: transparent; /* Transparent background */
    color: #000; /* Black font color */
}

.logo img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}
